<style>

#shopify-section-{{ section.id }} .icon-with-text {
    position: relative;
}
#shopify-section-{{ section.id }} .icon-with-text .content-wrapper h2 {
    font-size: 40px;
    text-align: center;
      line-height: 1;
    font-weight: 400;
    margin: 0;
    padding-bottom: 31px;
    color:#fff;
    font-family: "Raleway", sans-serif;
}
#shopify-section-{{ section.id }} .icon-with-text .blog-item h3 {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
     color:#fff;
     padding-top: 10px;
}
#shopify-section-{{ section.id }} .icon-with-text .blog-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 270px;
    max-width: 710px;
}
#shopify-section-{{ section.id }} .icon-with-text .bottam_text p {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
     color:#fff;
    text-align: center;
    font-family: "Inter", sans-serif;
}
#shopify-section-{{ section.id }} .icon-with-text .content-wrapper p {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color:#fff;
    font-family: "Poppins", sans-serif; 
    padding-bottom: 26px;
}  
#shopify-section-{{ section.id }} .icon-with-text .content-wrapper {
    padding-top: 82px;
}
#shopify-section-{{ section.id }} .icon-with-text .bottam_text {
    padding-bottom: 60px;
}
#shopify-section-{{ section.id }} .icon-with-text .bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}
#shopify-section-{{ section.id }} .icon-with-text .blog-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#shopify-section-{{ section.id }} .icon-with-text .bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#shopify-section-{{ section.id }} .icon-with-text .page_width {
    position: relative;
    max-width: 736px;
    margin: 0 auto;
}
@media only screen and (max-width: 767px) {
#shopify-section-{{ section.id }} .icon-with-text .content-wrapper h2 {
    font-size: 32px;
    line-height: 1;
    padding-bottom: 15px;
}
#shopify-section-{{ section.id }} .icon-with-text .content-wrapper {
    padding-top: 48px;
    padding-bottom: 21px;
}
#shopify-section-{{ section.id }} .icon-with-text .blog-items {
    padding-bottom: 191px;
}
#shopify-section-{{ section.id }} .icon-with-text .blog-item h3 {
    font-size: 14px;
    line-height: 1;
    padding-top: 8px;
}
#shopify-section-{{ section.id }} .icon-with-text .page_width {
    max-width: 420px;
    padding: 0 30px;
}
#shopify-section-{{ section.id }} .icon-with-text .bottam_text {
    padding-bottom: 35px;
}
} 
</style>
<section class="icon-with-text"> 
  {%- if section.settings.bg_img != blank or section.settings.mobile_bg_img != blank -%}
  <div class="bg-img">
    <picture>
      {%- if section.settings.mobile_bg_img != blank -%}
        <source
          media="(max-width: 749px)"
          srcset="{{ section.settings.mobile_bg_img | image_url: width: 750 }}"
        >
      {%- endif -%}
      <img
        srcset="
         {%- if section.settings.bg_img.width >= 500 -%}{{ section.settings.bg_img | image_url: width: 500 }} 500w,{%- endif -%}
         {%- if section.settings.bg_img.width >= 800 -%}{{ section.settings.bg_img | image_url: width: 800 }} 800w,{%- endif -%}
         {%- if section.settings.bg_img.width >= 1200 -%}{{ section.settings.bg_img | image_url: width: 1200 }} 1200w,{%- endif -%}
          {%- if section.settings.bg_img.width >= 1400 -%}{{ section.settings.bg_img | image_url: width: 1400 }} 1400w,{%- endif -%}
          {%- if section.settings.bg_img.width >= 1500 -%}{{ section.settings.bg_img | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.bg_img.width >= 1600 -%}{{ section.settings.bg_img | image_url: width: 1600 }} 1600w,{%- endif -%}
          {%- if section.settings.bg_img.width >= 1800 -%}{{ section.settings.bg_img | image_url: width: 1800 }} 1800w,{%- endif -%}
          {%- if section.settings.bg_img.width >= 2000 -%}{{ section.settings.bg_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.bg_img.width >= 2500 -%}{{ section.settings.bg_img | image_url: width: 2500 }} 2500w{%- endif -%}
        "
        src="{{ section.settings.bg_img | image_url: width: 50 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width }}px, (min-width: 750px) 100vw, 100vw"
        alt="{{ section.settings.bg_img.alt | default: shop.name | escape }}"
        class="w-100"
        loading="lazy"
        width="{{ section.settings.bg_img.width | divided_by: 3 }}"
        height="{{ section.settings.bg_img.height | divided_by: 3 }}"
      >
    </picture>
  </div>
{%- endif -%}

  <div class="page_width">
<div class="content-wrapper">
  <h2> {{ section.settings.heading }} </h2>
  <div class="text">  {{ section.settings.sub_text }} </div>
</div>
  <div class="blog-items">
     {% for block in section.blocks %}
    <div class="blog-item">
      <img src="{{ block.settings.icon_img | image_url }}" alt="{{ block.settings.heading }}" width="{{ block.settings.icon_img.width }}" height="{{ block.settings.icon_img.height }}" loading="eager" />
           <h3> {{ block.settings.sub_heading }}  </h3> 
    </div>
     {% endfor %}
    </div>
           <div class="bottam_text">
             <p> {{ section.settings.sub_paragrap }} </p>
           </div>
         </div>
</section>
{% schema %}
  {
    "name": "Icon With Text",
     "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "image_picker",
          "id":"bg_img",
          "label": "Select Bg Image"
      },
       {
        "type": "image_picker",
        "id": "mobile_bg_img",
        "label": "Mobile background image"
      },

      {
        "type": "text",
        "id":"heading",
        "label":"Select Heading",
      },
       {
        "type": "richtext",
        "id":"sub_text",
        "label":"Select Text",
      },
       {
        "type": "richtext",
        "id":"sub_paragrap",
        "label":"Select Paragrap",
      },
    ],
    "blocks": [
     {
       "type": "content",
       "name":"Content",
       "settings": [
         {
          "type": "image_picker",
          "id":"icon_img",
          "label": "Select Icon Image"
         },
         {
           "type": "text",
           "id": "sub_heading",
           "label": "Add Heading"
         }
       ]
     }
    ],
  
"presets": [
      {
        "name": "Icon With Text"
      }
    ]
  }
{% endschema %}